<div class='item-contents'>
    <h2 class='title'>検索結果</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>
    <% @results.each do |item| %>

      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag(item.images[0], class: "item-img")  %>

        
        <% if item.order.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
          
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping_fee.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
           <%item.tags.each do |tag| %>
          <%=tag.tag%>
            <%end%>
        </div>
        <% end %>
        <% end %>
      </li>